[submodule "POMDP/gym-pomdp-wrappers"] 
  path = POMDP/gym-pomdp-wrappers 
  url = https://github.com/stweigand/gym-pomdp-wrappers.git

[submodule "POMDP/gym_pomdp"] 
  path = POMDP/gym_pomdp
  url = https://github.com/d3sm0/gym_pomdp.git
